In [1]:
from os.path import join
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# sklearn
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn import metrics

%matplotlib inline

In [4]:
abalone_data = pd.read_csv(join('data', 'abalone.csv')) # 데이터 불러오기
print(abalone_data.shape)
abalone_data.head(10)

(4176, 9)

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
1  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
2  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
3  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7
4  I  0.425  0.300  0.095  0.3515  0.1410  0.0775  0.120   8
5  F  0.530  0.415  0.150  0.7775  0.2370  0.1415  0.330  20
6  F  0.545  0.425  0.125  0.7680  0.2940  0.1495  0.260  16
7  M  0.475  0.370  0.125  0.5095  0.2165  0.1125  0.165   9
8  F  0.550  0.440  0.150  0.8945  0.3145  0.1510  0.320  19
9  F  0.525  0.380  0.140  0.6065  0.1940  0.1475  0.210  14